<a href="https://colab.research.google.com/github/sathish-nalladevagari/3-1-project-speech-recognition-basic-webpage/blob/main/Problem_solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find area of rectangle

In [ ]:
def areaofrectangle(length,breadth):
  return (length * breadth)
areaofrectangle(2,4)

8

Find ASCII value of a character

In [ ]:
def findascii(string):
  return ord(string)
findascii("g")

103

Convert Celsius to Fahrenheit

In [ ]:
def celsiustofahren(cel):
  return (1.8 * cel) + 32
celsiustofahren(10)

50.0

Swap value of two variables

In [ ]:
def swaptwovaiabale(a,b):
  a,b = b,a
  return a,b
a = input()
b = input()
swaptwovaiabale(a,b)

a
b

('b', 'a')

Check the given number is odd or even

In [ ]:
def evenorodd(num):
  if abs(num)%2 ==0:
    return "Even"
  else:
    return "Odd"
evenorodd(-1)

'Odd'

Check whether a character is vowel or consonant

In [ ]:
def vowelorconsonant(x):
  switcher = {
      "a" : "vowel",
      "e" : "vowel",
      "i" : "vowel",
      "o" : "vowel",
      "u" : "vowel",
      "A" : "vowel",
      "E" : "vowel",
      "I" : "vowel",
      "O" : "vowel",
      "U" : "vowel",
  }
  return switcher.get(x,"Consonant")
vowelorconsonant("a")

'vowel'

Find largest among three numbers

In [ ]:
def largeamong3(a,b,c):
  if a >= b and a >= c:
    largest = a
  elif b >= c and b >= a:
    largest = b
  else:
    largest = c
  return largest
largeamong3(2,3,4)

4

Leap year checking

In [ ]:
def leapyearcheck(year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return "Leap year"
  else:
    return "Not Leap year"
leapyearcheck(2020)

'Leap year'

Positive negative checking

In [ ]:
def checkposorneg(num):
  if num < 0:
    return "Negetive"
  else :
    return "Positive"
checkposorneg(10)

'Negetive'

Quadratic equation

In [ ]:
import cmath
def quadratic(a,b,c):
  dis = cmath.sqrt(b**2 - 4*a*c)
  root1 = (-b - dis)/(2*a)
  root2 = (-b + dis)/(2*a)
  return root1,root2
quadratic(1,4,2)

((-3.414213562373095+0j), (-0.5857864376269049+0j))

Factorial without using function

In [ ]:
n = int(input("enter num"))
fact = 1
while(n>0):
  fact = fact*n
  n = n-1
print(fact)

enter num5
120

Square of N

In [ ]:
def square(a):
  return a**2
square(2)

4

Calculate x to the power y

In [ ]:
def calpower(x,y):
  return x**y
calpower(2,3)

8

Multiplication table

In [ ]:
def multiplication(num,times):
  for i in range(1,times+1):
    result = num * i
    print(f"{num}* {i} = {result}")
multiplication(7,10)

7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70

Sum of natural numbers

In [ ]:
def sumofnatural(n):
  return n *(n+1)//2
sumofnatural(10)

55

Fibonacci starting from any two numbers

In [ ]:
def fibonacci(a,b,n):
  fib_seq = [a,b]
  for _ in range(n-2):
    next = fib_seq[-1] + fib_seq[-2]
    fib_seq.append(next)
  return fib_seq
fibonacci(2,5,8)

[2, 5, 7, 12, 19, 31, 50, 81]

Upper case to Lower case

In [ ]:
def uptolow(string):
  return string.lower()
uptolow("HELLO")

'hello'

Lower to upper

In [ ]:
def lowtoup(string):
  return string.upper()
lowtoup("hello")

'HELLO'

LCM & GCD

In [ ]:
import math

x = 20
y = 25

if x > y:
  x,y = y,x
for i in range(1,x+1):
  if x%i ==0 and y%i ==0:
    gcd = i
lcm = (x*y)//gcd
print(lcm)

100

In [ ]:
import math

x = 20
y = 25
lcm = (x*y) // math.gcd(20,25)
gcd = math.gcd(20,25)

print(lcm,gcd)

100 5

Prime numbers between two ranges

In [ ]:
def is_prime(num):
  if num < 2:
    return False
  for i in range(2,int(num**0.5)+1):
    if num % i ==0:
      return False
  return True
def prime(start,end):
  for i in range(start,end+1):
    if is_prime(i) == True:
      print(i)
prime(2,20)

2
3
5
7
11
13
17
19

Factors of a number

In [ ]:
def factors(n):
  factors = []
  for i in range(1,n+1):
    if n % i == 0:
      factors.append(i)
  return factors
factors(24)

[1, 2, 3, 4, 6, 8, 12, 24]

Prime Factors

In [ ]:
def is_prime(num):
  if num <2:
    return False
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      return False
  return True
def prime_fact(n):
  factors = []
  for i in range(2,n+1):
    if is_prime(i) and n%i == 0:
      factors.append(i)
  return factors
prime_fact(24)

[2, 3]

Count the number of digit in an integer

In [ ]:
def count(x):
  return len(str(x))
count(1234)

4

Bin to dec and oct

In [ ]:
def bdo(x):
  dec = int(x)
  octa = oct(x)
  return dec,octa
bdo(101010)

(101010, '0o305222')

Reverse the digits of given number

In [ ]:
def reverse(x):
  x = str(x)
  return int(x[::-1])
reverse(1234)

4321

Number palindrome

In [ ]:
def palindrome(x):
  x = str(x)
  if x == x[::-1]:
    print('palindrome')
  else:
    print("not")
palindrome(121)

palindrome

Digit summation

In [ ]:
def digitsum(x):
  total = 0
  x = str(x)
  for i in x:
    total = total + int(i)
  return total
digitsum(123)

6

In [ ]:
def digitsum2(x):
  total = 0
  while x>0:
    total += x%10
    x//=10
  return total
digitsum2(123)

6

Amstrong checking

In [ ]:
def amstrong(x):
  temp = x
  total = 0
  while x>0:
    digit = x%10
    total += digit**3
    x//=10
  if temp == total:
    print("arm")
  else:
    print("not")
amstrong(153)

arm

Largest among N numbers in an array

In [ ]:
def largest(arr):
  largest = 0
  for i in arr:
    if i > largest:
      largest =i
  print(largest)
arr = [2,13,1,2,6,9]
largest(arr)

13

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

Smallest among N numbers in an array

In [ ]:
def smallest(arr):
  small = arr[0]
  for i in range(1,len(arr)-1):
    if arr[i] < small:
      small = arr[i]
  print(small)
arr = [2,13,1,2,6,9]
smallest(arr)

1

Reverse the array elements

In [ ]:
def reverse(arr):
  left = 0
  right = len(arr)-1
  while left < right:
    temp = arr[left]
    arr[left] = arr[right]
    arr[right] = temp
    left +=1
    right -=1
  print(arr)
arr = [2,13,1,2,6,9]
reverse(arr)

[9, 6, 2, 1, 13, 2]

Insert an element in an array

In [ ]:
def insertele(arr,x):
  arr.append(x)
  print(arr)
arr = [2,13,1,2,6,9]
insertele(arr,23)

[2, 13, 1, 2, 6, 9, 23]

Deleting an array element

In [ ]:
def delete(arr,x):
  if x in arr:
    arr.remove(x)
  print(arr)
arr = [2,13,1,2,6,9]
delete(arr,9)

[2, 13, 1, 2, 6]

Duplication removal

In [ ]:
from collections import Counter
def duplicate(arr):
  res = Counter(arr)
  temp = [*res]
  print(temp)
arr = [2,13,1,2,6,9]

duplicate(arr)

[2, 13, 1, 6, 9]

Linear Search

In [ ]:
def linear(arr,x):
  for i in range(len(arr)-1):
    if arr[i] == x:
      return i
linear([2,13,1,2,6,9],6)

4

Binary search

In [ ]:
def binary(arr,x):
  low = 0
  high = len(arr)-1
  while high >= low:
    mid = (high+low)//2
    if arr[mid] ==x:
      return mid
    elif x > arr[mid]:
      low = mid+1
    elif x < arr[mid]:
      high = mid-1
  return -1
binary([2,13,1,2,6,9],6)

4

In [ ]:
def binarysearch(arr,x,low,high):
  while high >= low:
    mid = (high + low)//2
    if arr[mid] == x:
      return mid
    elif x > arr[mid]:
      return binarysearch(arr,x,mid+1,high)
    elif x < arr[mid]:
      return binarysearch(arr,x,low,mid-1)
  return -1
arr = [2,13,1,2,6,9]
binarysearch(arr,6,0,len(arr)-1)

4

Split the sorted array

In [ ]:
def split(arr,s):
  for i in range(0,s):
    x = arr[0]
    for j in range(0,len(arr)-1):
      arr[j] = arr[j+1]
    arr[len(arr)-1] = x
  return arr

arr = [2,13,1,2,6,9]
split(arr,2)

[1, 2, 6, 9, 2, 13]

Sort an array

In [ ]:
def sortarr(arr):
  l = 0
  le = len(arr)
  while l < le-1:
    if (arr[l] > arr[l+1]):
      temp = arr[l]
      arr[l] = arr[l+1]
      arr[l+1] = temp
      l = -1
    l+=1

  return arr
arr = [2,13,1,2,6,9]
sortarr(arr)

[1, 2, 2, 6, 9, 13]

Factorial using recursive function

In [ ]:
def fact(n):
  factorial = 1
  if n==0 or n==1:
    return 1
  while n >1:
    factorial *=n
    n-=1
  return factorial


fact(7)

5040

Fibonacci using recursive function

In [ ]:
def fib(n):
  if n<=1:
    return n
  return (fib(n-1)+fib(n-2))
n=10
for i in range(n):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34

Sum of N numbers using recursion

In [ ]:
def sumofn(n):
  if n <=1 :
    return n
  return n + sumofn(n-1)
n = 16

print(sumofn(n))

136

Reverse the sentence using recursion

In [ ]:
def rev(s):
  if len(s)==0:
    return s
  return rev(s[1:])+s[0]
rev("sath")

'htas'

In [ ]:
s = "sath"
print(s[::-1])

htas

Program to Count Blanks,Tabs and Newlines

Palindrome checking

In [ ]:
s = "abc"
new = s[::-1]
print(s[::-1])
if s != new:
  print("palindrome")
else:
  print("not")

cba
palindrome

convert a name into its ascii values.

In [ ]:
a = "sat"
for i in a:
  print(ord(i))

115
97
116

calculating string length without strlen function

In [ ]:
s = input("")
count = 0
for i in s:
  count +=1
print(count)

sath
4

comparing 2 strings without strcmp function

In [ ]:
a = input('')
b = input("")

if a == b:
  print("same")
else:
  print("not")

sat
sat
same

string concatenation without using strcat function

In [ ]:
a = input("")
b= input("")

print(a+b)

sa
th
sath

Finding vowels

In [ ]:
vowels = "aeiouAEIOU"
count = 0
ip = input("")
for i in ip:
  if i in vowels:
    count +=1
print(count)

helpa
2

Sorting in alphabetical order

In [ ]:
s= input("")
words = [s.lower() for word in s.split(" ")]
print(words)

sat
['sat']

Searching sub string in a string

In [ ]:
a = input("")
b = input("")

if b in a:
  print("sub")
else:
  print("not")

sath
sa
sub

Find the frequency of a character in a string

In [ ]:
from collections import Counter
a = input("")
seen = {}
for i in a:
  if i in seen:
    seen[i] +=1
  else:
    seen[i] = 1
print(seen)

saha
{'s': 1, 'a': 2, 'h': 1}

Reverse the given string

In [ ]:
a = input("")
print(a[::-1])

saha
ahas

Area of circle using pointers

In [ ]:
import math as M
r = int(input(""))
print(M.pi*r*r)

3
28.274333882308138

duplication removal using pointers

In [ ]:
def removedup(nums):
  i,j=0,0
  seen = set()
  while j < len(nums):
    if nums[j] not in seen:
      seen.add(nums[j])

      i+=1
    j+=1
  return seen
nums = [1,2,2,3,4,5]
removedup(nums)

{1, 2, 3, 4, 5}

Sorting integer array using pointers

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
      for j in range(0,n-i-1):
        if arr[j] > arr[j+1]:
          arr[j],arr[j+1] = arr[j+1],arr[j]



# Example usage:
my_array = [64, 34, 25, 12, 22, 11, 9]
bubble_sort(my_array)

print("Sorted array:", my_array)

Sorted array: [9, 11, 12, 22, 25, 34, 64]

Sum of array using pointers

In [ ]:
def sumpoiner(nums):
  i,total = 0,0
  while i <= len(nums)-1:
    total += nums[i]
    i+=1
  return total
my_array = [64, 34, 25, 12, 22, 11, 9]
sumpoiner(my_array)

177

Count number of words using pointers

In [ ]:
def countword(s):
  count = 0
  isword = False

  for i in s:
    if i.isalnum():

      isword = True
      count +=1
  return count
countword("hi name")

6

Length of a string using pointers

In [ ]:
def lengthstring(s):
  i,count = 0,0
  for i in s:
    count+=1
  return count
lengthstring("hi name")

7

Reverse the String Using Pointers

In [ ]:
def reverse(s):
  i=0
  stlist = list(s)
  j = len(stlist)-1
  while i < j:
    stlist[0],stlist[j] = stlist[j],stlist[0]
    i+=1
    j-=1
  rev = "".join(stlist)
  return rev
reverse("hiii")

'iiih'

In [ ]:
nums = [ 11, 15,2,7]
target = 17

for i in range(len(nums)):
  for j in range(i+1,len(nums)):
    if nums[i] + nums[j] == target:
      print([i,j])

[1, 2]

In [ ]:
def is_palindrome(s):
  s = "".join(char.lower() for char in s if char.isalnum())

  if s == s[::-1]:
    return True
  else:
    return False


is_palindrome("A man, a plan, a canal, Panama")

True

In [ ]:
s = "A man, a plan, a canal, Panama"
s = "".join(char.lower() for char in s if char.isalnum())

print(s)

amanaplanacanalpanama

In [ ]:
def fizz_buzz(n):
  for i in range(1,n+1):
    if i%3 ==0 and i%5==0:
      print("fizzbuzz")
    elif i%3==0:
      print("fizz")
    elif i%5==0:
      print("buzz")
    else:
      print(i)
fizz_buzz(15)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

largest in array

In [ ]:
def largest(nums):
  large = 0
  for num in nums:
    if num > large:
      large = num
  return large
arr = [3, 8, 1, 6, 2, 9, 4]
largest(arr)

9

In [ ]:
def valid(s):
  stack = []
  seen = {")": "(", "}": "{", "]": "["}
  for char in s:
    if char in seen.values():
      stack.append(char)
    elif char in seen.keys():
      if not stack or stack.pop() != seen[char]:
        return False
    else:
      return False
  return not stack

valid("()[]{}")

True

In [ ]:
#rotate array

def rotate(arr,k):
  k = k% len(arr)
  return arr[-k:] + arr[:-k]
rotate([1, 2, 3, 4, 5, 6, 7], 3)

[5, 6, 7, 1, 2, 3, 4]

In [ ]:
s = [1, 2, 3, 4, 5, 6, 7]
k = 3
print(s[-k:])
print(s[:-k])
print(k%len(s))

[5, 6, 7]
[1, 2, 3, 4]
3

In [ ]:
def missing_number(arr):
  n = len(arr)
  expected = (n*(n+1))//2
  total = sum(arr)
  num = expected-total
  return num

missing_number([3, 0, 1])

2

In [ ]:
from collections import Counter
def majority(arr):
  condition = len(arr)//2
  count = Counter(arr)
  for ele,ele_count in count.items():
    if ele >= condition:
      return ele
majority([3, 3, 4, 2, 4, 4, 2, 4, 4])

4

In [ ]:
def two_sum(arr,x):
  dicti = {}
  for i,num in enumerate(arr):
    comp = x - num
    if comp in dicti:
      return [dicti[comp],i]
    dicti[num] = i
  return []
print(two_sum([3, 3], 6))
print(two_sum([1, 2, 3, 4, 5], 10))

[0, 1]
[]

In [ ]:
def move_zeroes(arr):
  non = 0
  for i in range(len(arr)):
    if arr[i] !=0:
      arr[i],arr[non] = arr[non],arr[i]
      non+=1
  return arr
move_zeroes([0, 1, 0, 3, 12])

[1, 3, 12, 0, 0]

In [ ]:
from collections import Counter

s = "zzoooo"

print()

Counter({'o': 4, 'z': 2})

In [ ]:
A = [5, 7, 10, 5, 15]
B = [2 ,2 ,1 ,3 ,5]

differ = [b-a for a,b in zip(A,B)]

if all(diff == differ[0] for diff in differ):
   print(sum(abs(diff) for diff in differ))//2
else:
  print(-1)

-1

Linked list

In [ ]:
class Node:
  def __init__(self,data):
    self.data = data
    self.next = None
class Linkedlist:
  def __init__(self):
    self.head = None

  def pushatbegin(self,new_data):
    new_node = Node(new_data)

    # 3. Make next of new Node as head
    new_node.next = self.head

    # 4. Move the head to point to new Node
    self.head = new_node

linked = Linkedlist()

linked.head = Node(1)
second = Node(2)
third = Node(3)


##connect

linked.head.next = second
second.next = third

linked.pushatbegin(4)


#print
while linked.head !=None:
  print(linked.head.data,end =" ")
  linked.head = linked.head.next

4 1 2 3